* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

:root {
  --primary-color: #F1D9BF;
  --secondary-color: #FCF8F3;
  --tertiary-color: #2E211B;
}


/*---------- Header & Nav -------------*/
.navBarImage {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: url('./assets/cover/treeline2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  z-index: 9999;
}

.typewriterContainer {
  padding: 10px;
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url('./assets/cover/treeline2.jpg');
  border-radius: 40px;
  opacity: 0.7;
}


/*---------- Footer -------------*/
.footerNavbar {
  padding: 20px;
  margin-top: 500px;
  background-image: url('./assets/cover/treeline2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}

/*----------- Contact Me ------------*/
.formStyling {
  padding: 20px;
}

/*---------- About Me ----------*/
.aboutMeSection {
  padding: 10px;
  margin-top: 10px;
}

.aboutText {
  font-size: 1.5rem;
}


/*------------ Portfolio -------------*/
.portfolioContainer {
  padding: 20px;
}

.customCard {
  background-color: var(--secondary-color) !important;
}

.rowOne {
  padding-top: 30px;
  padding-bottom: 20px;
}

.portfolioImage {
  opacity: 0.7;
  width: 40%;
  margin-left: 30%;
}

.portfolioDescription {
  font-size: 1rem;
}

.portfolioButtons {
  padding-left: 10px;
}

/*------------ Resume -------------*/
.downloadResume {
  padding: 15px;
  float: right;
}

.resumeContainer{
  padding: 70px 40px 40px 40px;
}

.employmentContainer {
  padding-bottom: 15px;
}

@media screen and (max-width: 1024px) {
  .portfolioDescription {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 980px) {
  .portfolioTitle {
    font-size: 1rem;
  }

  .portfolioDescription {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .portfolioTitle {
    font-size: 0.9rem;
  }

  .portfolioDescription {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolioTitle {
    font-size: 1.4rem;
  }

  .portfolioDescription {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .portfolioTitle {
    font-size: 1.2rem;
  }

  .portfolioDescription {
    font-size: 0.9rem;
  }
}