* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

:root {
  --primary-color: #F1D9BF;
  --secondary-color: #FCF8F3;
  --tertiary-color: #2E211B;
}

body {
  padding: 30px;
  background-color: var(--secondary-color);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}