* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} 

:root {
  --primary-color: #F1D9BF;
  --secondary-color: #FCF8F3;
  --tertiary-color: #2E211B;
}

main{
  height: 400px;
  margin: 0;
  background-color: var(--secondary-color);
}


/*---------- Header & Nav -------------*/
.navBarImage {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: url('./assets/cover/treeline2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  z-index: 9999;
}


/*---------- Footer -------------*/
.footerNavbar {
  padding: 20px;
  background-image: url('./assets/cover/treeline2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}


/*---------- About Me ----------*/
.aboutMeSection {
  padding: 10px;
  background-color: var(--secondary-color);
}

.aboutText {
  font-size: 1.5rem;
}
